*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
   background-color: #0a0a19;
   color: #f7f7f7;
   font-family: 'Cairo', sans-serif;
 }
 .nav-c{
    position: relative;
    top: 1.1px;
    left: 12px;
  }
  .navbar-brand{
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .dropdown-toggle{
    background-color: #161625;
  }
  .dropdown-toggle:focus, .dropdown-toggle:active{
    outline: none;
    border: none;
    box-shadow: none;
  }
  .dropdown-item{
    background-color: #f04747;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
  }
  .dr-tg{
    background-color: transparent;
    border: none;
  }
  .dr-tg:focus, .dr-tg:hover, .dr-tg:active{
    background-color: transparent;
    box-shadow: none;
  }
  .btn-custom1{
    background-color: #5e5ac9;
    color: #f7f7f7;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
  }
  .dropdown-menu{
    background-color: #161625;
  }
  .btn-custom:hover{
    color: #bbbbbb;
  }
  .dropdown-item:hover{
    background-color: #1c1c2e;
  }
  .br-cs{
    width: 10px;
    height: 30px;
  }
.cont{
 margin-top: 12%;
}
.col-cus{
    color: #bbbbbb;
}
.par1{
    font-weight: 700;
    font-size: 2em;
}
.btn-invite{
    background-color: #5e5ac9;
    color: #f7f7f7;
    font-weight: 500;
    padding: 10px 20px;
}
.btn-outline-prem{
    border: 1px solid #bbbbbb;
    padding: 10px 20px;
    color: #f7f7f7;
    margin-left: .5em;
}

.btn-invite:hover, .btn-outline-prem:hover{
    color: #f7f7f7;
}
.btn-outline-prem:hover{
    background-color: #dfdfdf;
    color: #0a0a19;
    text-decoration: underline;
}
.logo-main{
    width: 21rem;
    height: 21rem;
    position: relative;
    bottom: 5rem;
}
.about-title{
    color: #ebebeb;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.par-info{
  background-color: #161625;
  position: relative;
  top: 5px;
  right: 4px;
  padding: 9px 14px;
  border-radius: 8px;
  border: 2px solid #5e5ac9;
}

.accordion-collapse{
  background-color: #161625;
  outline: none;
}
footer{
 background-color: #161625;
 height: 9vh;
 padding-top: 2rem;
}
footer p{
  font-weight: 700;
}
.wave-footer{
  position: relative;
  top: 3rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5ac9;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b48a8;
}
@media screen and (max-width: 700px){
  .logo-main{
    width: 16rem;
    height: 16rem;
    position: relative;
    bottom: 1rem;
    margin-top: 6%;
    margin-right: 22%;
}
}