
.col-prem{
    background-color: #161625;
    margin: 1rem;
    border-radius: 5px;
    padding: 18px 22px;
    border: 2px solid #5e5ac9;
    transition: 0.2s all;
}
.col-prem:hover{
    background-color: #5e5ac9;
    transition: 0.2s all;
    cursor: pointer;
    transform: translateY(-10px);
}
.num-count{
    font-size: 22px;
    color: #bbbbbb;
}
.fa-crown, .fa-money-bill-wave, .fa-hourglass-end{
    font-size: 3rem;
    position: relative;
    top: 3px;
}
.fa-crown{
    color: rgb(224, 203, 84);
}
.fa-money-bill-wave{
    color: #43b581;
}
.fa-hourglass-end{
    color: #f04747;
}
.col-ic{
    margin-left: 10%;
}
.card{
    background-color: transparent;
}
.card-head{
    padding: 16px 18px;
    background-color: #161625;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body{
    background-color: #242438;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn-add{
    border: 2px solid #43b581;
    color: #fff;
    padding: 8px 22px;
    border-radius: 30px;
}
.btn-add:hover{
    background-color: #43b581;
    color: #fff;
}
.main-bot-sec{
    background-color: #161625;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 1%;
}
.typorgraphy-prem{
    margin-left: 2%;
}
.bot-img{
    position: relative;
    bottom: 11px;
}
.bot-name{
    font-size: 22px;
    letter-spacing: 1px;
}
.bot-tag{
    color: #c0c0c0;
    font-size: 18px;
}
.exp-time{
    font-size: 16px;
    color: #bbbbbb;
    position: relative;
    top: 7px;
}
.btn-invite-prem{
    background-color: #5e5ac9;
    color: #f7f7f7;
    font-weight: 500;
    padding: 9px 18px;
    position: relative;
    top: 10px;
    margin-right: 3%;
    border: 2px solid #5e5ac9;
}
.btn-invite-prem:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #5e5ac9;
}
#overlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.credits-charge{
    width: 40%;
    margin: 0px auto;
    margin-top: 10%;
}
.leave-overlay{
   color: #f04747;
   font-size: 24px;
}
.btn-close{
   color: #f04747;
   font-size: 22px;
}

.chose-am-t{
    position: relative;
    top: 12px;
}
.btn-mount{
    border: 2px solid #5e5ac9;
    font-size: 18px;
    margin-left: 2%;
    margin-bottom: 2%;
}
.btn-mount:hover{
    background-color: #5e5ac9;
}
@media screen and (max-width: 375px){
    .bot-name{
        font-size: 14px;
    }
    .bot-tag, .exp-time{
        font-size: 14px;  
    }
    .btn-invite-prem{
        padding: 9px 5px;
        top: 3px;
        left: 7px;
        font-size: 15px;
    }
    .bot-img{
        width: 50px;
        height: 50px;
    }
    .main-bot-sec{
        width: 110%;
        position: relative;
        right: 16px;
    }
}
@media screen and (max-width: 411px){
    .bot-name{
        font-size: 14px;
    }
    .bot-tag, .exp-time{
        font-size: 14px;  
    }
    .btn-invite-prem{
        padding: 9px 5px;
        top: 3px;
        left: 7px;
        font-size: 15px;
    }
    .bot-img{
        width: 50px;
        height: 50px;
    }
    .main-bot-sec{
        width: 109%;
        position: relative;
        right: 15px;
    }
    .credits-charge{
        width: 90%;
    }
}